{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>
        Pentru sugestii, păreri, întrebări, colaborări sau cereri de publicitate pe blog, folosiţi formularul de mai jos:
    </h1>



{% endblock %}
