{% extends 'base' %}
    {% block body  %}
        <div class="col-9">

            <div class="card mt-3">
                <h2>
                    {{ errorMessage }}
                </h2>

                </div>

        </div>
    {% endblock %}
