{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-9">
        {% for post in pagination %}
            {% include '_post.html.twig' with {'post': post} %}
        {% endfor %}
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="col-3">
        <h2>Categories</h2>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="category.php?id={{ category.getId() }}">{{ category.getName() }}</a>
                    <a href="deleteCategory.php?id={{ category.getId() }}">Delete</a>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}