{% extends 'base.html.twig' %}
{% block body  %}
    <div class="col-12"></div>
    <h1>Subscribe to our newsletter</h1>
    </div>

    <div class="col-12">
        {{ form(form) }}
    </div>
{% endblock %}