<div class="card mt-3">
<img class="card-img-top" src="Images/{{ post.getPicture() }}" alt="Card image cap"/>
<div class="card-body">
    <meta charset="utf-8" />
    <h5 class="card-title">{{ post.getTitle()}}</h5>
    <p class="card-text">{{ post.getContent[:300]| raw ~'...'}}</p>
    <a href="{{ url('post-action',{'id':post.getId(), 'name':post.getTitle}) }}" class="btn btn-primary">Read more</a>
</div>
</div>