<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Livia's Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Livia's Blog</h1>

    </div>
    <div class="row" style="padding: 5%">
        <span class="col-8-md"></span>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="default/contact.html.twig">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('send-newsletters') }}">Send newsletters</a>
            </li>
        </ul>
        <div class="title"> </div>
        <nav class="navigation cf nav-full nav-dark has-search"></nav>
        <div class="nav-search -search wrap">
            <div class="search-overlay">
                <a href="#" title="Search" class="search-icon"></a>
                <div class="search"></div>
            </div>

            <form class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                       aria-label="Search">
            </form>
        </div>
    </div>
    <a href="{{ url ('subscribe') }}">Subscribe to our newsletter</a>
    <div class="row">
        {% block body %}
        {% endblock %}
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12" align="center" style=background-color:transparent>

            <p>Acest blog se supune regulilor bunului simţ, logicii şi, dacă cele două nu funcţionează, forţei.</p>
             <p> Textele şi imaginile aparţin autorului, excepţie făcând cazul unde este menţionată sursa.</p>
            <p>2020 Livia's Blog - Toate drepturile rezervate</p>
        </div>
    </div>
</div>
</body>
</html>